<div class="col-2 d-sm-none d-md-block pt-2 pb-2 bg-200 sidebar" id="sidebar">
  <h3>Search</h3>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label fw-bolder">Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name task">
  </div>
  <hr>
  <div class="text-center fs-5 fw-semibold">OR</div>
  <hr>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label fw-bolder">Start at</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="99/99/999">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label fw-bolder">Finished at</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="99/99/9999">
  </div>
  <hr>
  <div class="text-center fs-5 fw-semibold">OR</div>
  <hr>
  <div class="mb-3">
    <label for="id_category" class="form-label fw-bolder">Category</label>
    <select class="form-select" id="id_category" aria-label="Default select example">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary col-12">Search</button>
  </div>
</div>
