<div id="<%= dom_id label %>">
  <p>
    <strong>Name:</strong>
    <%= label.name %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= label.color %>
  </p>

  <p>
    <strong>User:</strong>
    <%= label.user_id %>
  </p>

</div>
