<div class="row">
  <div class="col-4 text-center">
    <div class="card bg-red-300">
      <div class="card-body">
        <span class="fs-1 fw-bolder">999</span>
      </div>
      <div class="card-footer">
        <span class="fs-3">High</span>
      </div>
    </div>
  </div>
  <div class="col-4 text-center">
    <div class="card bg-yellow-300">
      <div class="card-body">
        <span class="fs-1 fw-bolder">999</span>
      </div>
      <div class="card-footer">
        <span class="fs-3">Medium</span>
      </div>
    </div>
  </div>
  <div class="col-4 text-center">
    <div class="card bg-blue-300">
      <div class="card-body">
        <span class="fs-1 fw-bolder">999</span>
      </div>
      <div class="card-footer">
        <span class="fs-3">Low</span>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3 mb-3">
  <div class="col-3">
    <label for="id_priority" class="form-label fw-bolder">Priority</label>
    <select class="form-select" id="id_priority" aria-label="Default select example">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="col-3">
    <label for="id_category" class="form-label fw-bolder">Category</label>
    <select class="form-select" id="id_category" aria-label="Default select example">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="col-3">
    <label for="id_label" class="form-label fw-bolder">Label</label>
    <select class="form-select" id="id_label" aria-label="Default select example">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="col-3">
    <label for="id_user" class="form-label fw-bolder">User</label>
    <select class="form-select" id="id_user" aria-label="Default select example">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-striped table-bordered table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
