<div class="row">
  <div class="col-12">
    <div class="mb-3">
      <form action="" class="row g-3">
        <div class="col-11">
          <input type="text" class="form-control fs-4" placeholder="New Task">
        </div>
        <div class="col-1">
          <button class="btn btn-primary col-12 fs-4"><i class="bi bi-download"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-4 text-center">
    <div class="card bg-pink-300">
      <div class="card-header">
        <span class="fs-1 fw-bolder text-white"><%= @count_high %></span>
      </div>
      <div class="card-footer">
        <span class="fs-3 text-white">High</span>
      </div>
    </div>
  </div>
  <div class="col-4 text-center">
    <div class="card bg-orange-300">
      <div class="card-header">
        <span class="fs-1 fw-bolder text-white"><%= @count_medium %></span>
      </div>
      <div class="card-footer">
        <span class="fs-3 text-white">Medium</span>
      </div>
    </div>
  </div>
  <div class="col-4 text-center">
    <div class="card bg-teal-300">
      <div class="card-header">
        <span class="fs-1 fw-bolder text-white"><%= @count_low %></span>
      </div>
      <div class="card-footer">
        <span class="fs-3 text-white">Low</span>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <% @tasks.each do |task| %>
    <%= render task %>
  <% end %>
</div>
